<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>La mia Milano</h1>
    <pre>
    Milano è una tipica città di pianura, che ha potuto espandersi 
    in ogni direzione fino a conglobare i Comuni vicini in un unico, grande 
    centro urbano. Milano è stata fondata dai Galli e conquistata poi dai Romani, 
    essa sorge in un punto strategico del territorio, al centro della Pianura Padana.
    </pre>
        <img src="{{url_for('static', filename='monumento.jpg')}}" align="middle" />
</body>
</html>